<header class="heading">
  <h2>Примеры</h2>  
</header>

<article>
  <p>Todos это простое приложение для хранения списка задач. Пользователи могут редактировать задачи и помечать их как выполненные.
  Исxодный код на <a href="http://github.com/maccman/spine.todos">гитхабе</a>. <a href="http://maccman.github.com/spine.todos">[Демо]</a></p>
  
  <img src="https://lh4.googleusercontent.com/_IH1OempnqUc/TZF16JZSTlI/AAAAAAAABKM/ojAu7OBqXp8/s500/Screen%20shot%202011-03-29%20at%2019.01.44.png"/>
  
  <hr />

  <p>Spine contacts это простая адресная книга. Исходные коды на <a href="http://github.com/maccman/spine.contacts">гитхабе</a>. <a href="http://spine-contacts.herokuapp.com">[Демо]</a></p>

  <img src="https://lh5.googleusercontent.com/_IH1OempnqUc/TZpgYfnlUBI/AAAAAAAABKg/UYLhdmoc15o/s500/contacts.png" />

  <hr />

  <p>Holla это самый сложный пример. Исходники на <a href="http://github.com/maccman/holla">гитхабе</a>. 
    Holla это групповой чат. Используется сочетание <a href="http://rubyonrails.org">Rails</a>, <a href="http://github.com/maccman/juggernaut">Juggernaut</a> и Spine для работы приложения в реальном времени. Только для браузеров на *WebKit*. <a href="http://maccman-holla.heroku.com">[Демо]</a></p>
  
  <img src="https://lh4.googleusercontent.com/_IH1OempnqUc/TZF1gMnidmI/AAAAAAAABKE/b9rp9RdtA3o/s500/Screen%20shot%202011-03-29%20at%2018.58.12.png" />
  
  <hr />
  
  <p>Следущий пример показывает как легко реализовать бесконечную прокрутку используя Spine &amp; Rails. Исходники на <a href="http://github.com/maccman/spine.infinite">гитхабе</a>, а также <a href="http://spine-infinite.herokuapp.com/">живая демонстрация</a>.</p>
    
  <img src="https://lh6.googleusercontent.com/-XoGlAJopIWY/Tp2jqNAIH_I/AAAAAAAABbU/MG7v_OtmZ4k/s500/Screen%252520Shot%2525202011-10-18%252520at%25252017.04.27.png">
  
  <hr />
  
  <p>Последний <a href="https://github.com/maccman/spine.rails3">пример</a> это демонстрация интеграции Spine &amp; Rails 3. Смотрите также пример использования обновлений в реальном времени в <a href="https://github.com/maccman/spine.rails3/tree/fowa">ветке fowa</a>. <a href="http://spine-fowa.herokuapp.com/">[Демо]</a></p>
    
  <img src="https://lh4.googleusercontent.com/-vxBcOT0TIpM/ToNWaL-o83I/AAAAAAAABao/ObsGjxoX5oQ/s500/Screen%252520Shot%2525202011-09-27%252520at%25252022.16.41.png">
</article>