<% content_for(:title, "Build Awesome Javascript MVC Applications") %>

<header class="intro">
  <h2>Spine</h2>
  <h3>Библиотека для современных MVC<br /> веб приложений на Javascript</h3>
</header>

<article>
  <footer>
    <div class="bcta">
      <%= link_to "Скачать версию #{version}", pages_path("download"), :class => "cta" %>
    </div>
  </footer>
  
  <aside>
    <section>
      <header>MVC</header>
      <p>Model View Controller это основа Spine.</p>
    </section>
    
    <section>
      <header>Простота</header>
      <p>Spine это простая и легковесная библиотека. Не требуeт сложной настройки.</p>
    </section>
    
    <section>
      <header>Документация</header>
      <p>Мы стараемся поддерживать удобную документацию.</p>
    </section>
    
    <%= link_to "Далее...", docs_url("introduction"), :class => "more" %>
  </aside>
</article>