<header class="intro">
  <h2>Spine</h2>
  <h3>Для создания на JavaScript<br /> замечательных MVC приложений</h3>
</header>

<article>
  <footer>
    <div class="bcta">
      <%= link_to "Скачать (версия #{version})", pages_path("download"), :class => "cta" %>
    </div>
  </footer>
  
  <aside>
    <section>
      <header>MVC</header>
      <p>Паттерн Model View Controller это основа Spine, и совершенная необходимость для современных веб приложений.</p>
    </section>
    
    <section>
      <header>Простота</header>
      <p>Spine это простая и легковесная библиотека. Не состоит из множества компонентов которые требуют сложной настройки.</p>
    </section>
    
    <section>
      <header>Документация</header>
      <p>Мы стараемся сделать самую удобную документацию среди JavaScript библиотек.</p>
    </section>
    
    <%= link_to "Далее...", docs_url("introduction"), :class => "more" %>
  </aside>
</article>