<header class="heading">
  <h2>Видео</h2>  
</header>

<article>

  <h3>Spine Contacts</h3>
  <p>
   Расширяем приложение <a href="https://github.com/maccman/spine.contacts">contacts</a> из примеров. Добавляем поддержку сохранения местоположения и мобильного клиента. Исходники из этого видео <a href="https://gist.github.com/1275300">тут</a>. Просмотр в формате HD на <a href="http://vimeo.com/30313002">Vimeo</a>.
  </p>
  
  <iframe src="http://player.vimeo.com/video/30313002?title=0&amp;byline=0&amp;portrait=0"  frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
  
  <hr />
  
  <h3>Интеграция Spine &amp; Rails за 7 минут</h3>
  <p>
    Интеграция Spine и Rails с помощью JSON Ajax API используя <a href="https://github.com/maccman/spine-rails">spine-rails</a> и Spine scaffolding. Просмотр в формате HD на <a href="http://vimeo.com/30976192">Vimeo</a>.
  </p>
  
  <iframe src="http://player.vimeo.com/video/30976192?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
  
  <hr />

  <h3>Бесконечная прокрутка с помощью Spine &amp; Rails</h3>
  
  <p>
    Бесконечная прокрутка списка с автоматической Ajax подгрузкой. Исходные коды <a href="http://github.com/maccman/spine.infinite">здесь</a>, а также <a href="http://spine-infinite.herokuapp.com">демо</a>. Просмотр в формате HD на <a href="http://vimeo.com/30737866">Vimeo</a>.
  </p>
    
  <iframe src="http://player.vimeo.com/video/30737866?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
  
  <hr />
  
  <h3>Реальное время с помощью Spine &amp; Rails</h3>
  
  <p>
    Использование WebSockets, <a href="http://pusher.com/">Pusher</a>, Rails и Spine для приложения с синхронизацией в реальном времени. Исходные коды <a href="http://github.com/maccman/spine.realtime">здесь</a>, а также <a href="http://spine-realtime.herokuapp.com">демо</a>. Просмотр в формате HD на <a href="http://vimeo.com/30796067">Vimeo</a>.
  </p>
  
  <iframe src="http://player.vimeo.com/video/30796067?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>

</article>